.nav{
    margin-top: 20px;
    
}
button{
    margin-left: 1050px;
    color: white;
    background-color:blue;
}
.footer{
    text-align: center;
}
.card{
    margin-top: 70px;
}
.container{
    margin-right: 200px;
}
.condiciones{
    margin-left: 18px;
}
.row1{
    margin-left: 270px;
    margin-top: 60px;
}
.card-group{
    width: 1050px;
    margin-left: 100px;
    margin-top: 200px;
}
.row1{
    font-size: 40px;
    margin-top: 4cm;
}
.col-md-4{
    margin-top: -1cm;
}